.checkout-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

/* CARD STYLE */
.card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* LEFT */
.checkout-form {
  flex: 2;
}

/* RIGHT */
.checkout-summary {
  flex: 1;
  height: fit-content;
}

/* INPUT GROUP */
.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input,
.input-group textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* ERROR */
.error-msg {
  font-size: 12px;
  color: red;
  display: none;
}

.input-group.invalid input,
.input-group.invalid textarea {
  border-color: red;
}

.input-group.invalid .error-msg {
  display: block;
}

/* CARD ROW */
.card-row {
  display: flex;
  gap: 10px;
}

.cvv-group label i {
  margin-left: 5px;
}

/* BUTTON */
.order-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #2f5d3f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.order-btn:hover {
  background: #2f5d3f;
}

/* MAP */
.map-container iframe {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}

/* POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.popup .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #2f5d3f;
  color: white;
  border-radius: 6px;
}

/* AUTOCOMPLETE */
.autocomplete-box {
  border: 1px solid #ddd;
  background: white;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 8px;
  margin-top: 5px;
}

.autocomplete-box div {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-box div:hover {
  background: #f0f0f0;
}

.input-group .error-msg {
    display: none;
    color: red;
    font-size: 12px;
}

.input-group.invalid .error-msg {
    display: block;
}

.input-group.invalid input,
.input-group.invalid textarea {
    border: 2px solid red;
}