{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css'%}">
{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="user_card">

        <h3 id="form-title">REGISTER ACCOUNT</h3>

        {% if error_message %}
            <div class="form-error">
                {{ error_message }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" name="username" maxlength="50" class="form-control" placeholder="Username..">
            </div>

            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                <input type="email" name="email" maxlength="50" class="form-control" placeholder="Email..">
            </div>

            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
                <input type="password" name="password1" maxlength="50" class="form-control" placeholder="Enter password...">
            </div>

            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
                <input type="password" name="password2" maxlength="50" class="form-control" placeholder="Re-enter password...">
            </div>

            <input class="btn login_btn" type="submit" value="Register Account">
        </form>

        <div class="links">
            Already have an account?
            <a href="{% url 'accounts:login' %}">Login</a>
        </div>

    </div>

</div>

{% endblock %}