{% extends "base.html" %}

{% block content %}

<div style="display:flex; gap:20px;">

    <!-- SIDEBAR -->
    <aside style="width:200px; border-right:1px solid #ccc;">
        <h3>Dashboard</h3>

        <ul>
            <li><a href="{% url 'accounts:manage_categories' %}">Categories</a></li>
            {% if is_manager %}
                <li><a href="{% url 'accounts:manage_books' %}">Manage Books</a></li>
                <li><a href="{% url 'accounts:manage_users' %}">Manage Users</a></li>
            {% endif %}
        </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <main style="flex:1;">
        {% block dashboard_content %}
        {% endblock %}
    </main>

</div>

{% endblock %}